<div class="card mt-3" *ngIf="userLogged|async as user">
  <div class="card-body">
    <div class="card-header m-2 text-center">
      <b>Gestionar Medico</b>
    </div>
    <form #medicoForm="ngForm" (ngSubmit)="onSubmit(medicoForm)">
      <input
        type="hidden"
        name="key"
        #key="ngModel"
        [(ngModel)]="medicoService.selectedMedico.key"
      >
      <div class="form-group col-10">
        <label>Nombres</label>
        <input
          type="text"
          class="form-control m-2"
          name="name"
          #name="ngModel"
          [(ngModel)]="medicoService.selectedMedico.name"
          maxlength=25
          required
        >
      </div>
      <div class="form-group col-10">
        <label>Apellidos</label>
        <input
          type="text"
          class="form-control m-2"
          name="lastname"
          #lastname="ngModel"
          [(ngModel)]="medicoService.selectedMedico.lastname"
          maxlength=25
          required
        >
      </div>
      <div class="form-group col-10">
        <label>DNI</label>
        <input
          type="number"
          class="form-control m-2"
          name="dni"
          #dni="ngModel"
          [(ngModel)]="medicoService.selectedMedico.dni"
          maxlength=8
          required
        >
      </div>
      <div class="form-group col-10">
        <label>Celular</label>
        <input
          type="number"
          class="form-control m-2"
          name="phone"
          #phone="ngModel"
          [(ngModel)]="medicoService.selectedMedico.phone"
          maxlength=9
          required
        >
      </div>
      <div class="form-group col-10">
        <label>Especialidad</label>
        <select
          class="form-control m-2 form-select"
          name="specialty"
          #specialty="ngModel"
          [(ngModel)]="medicoService.selectedMedico.specialty"
          required
        >
          <option value="odontologo">Odontologo</option>
          <option value="especialista">Especialista</option>
        </select>
      </div>
      <div class="form-group col-5">
        <label>Estado</label>
        <select
          class="form-control m-2 form-select"
          name="state"
          #state="ngModel"
          [(ngModel)]="medicoService.selectedMedico.state"
          required
        >
          <option value=true>Activo</option>
          <option value=false>Inactivo</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary m-2" type="submit">
          <i class="fa fa-plus-circle"></i> Agregar Medico
        </button>
      </div>
    </form>
  </div>
</div>
