<div class="container mt-3" *ngIf="userLogged|async as user">

  <div class="row">
    <div class="col-md-3">
      <app-cita></app-cita>
    </div>
    <div class="col-md-6 text-center">
      <app-listar-citas></app-listar-citas>
    </div>
  </div>
</div>
<!--
  <div *ngFor="let users of userList">
    <div class="row" *ngIf="user.email==users.email && users.rank=='client'">
      <div class="col-md-3">
        <app-cita></app-cita>
      </div>
      <div class="col-md-5 text-center">
        <app-listar-citas></app-listar-citas>
      </div>
    </div>

    <div class="row" *ngIf="user.email==users.email && users.rank=='admin'">
      <div class="col-md-3">
        <app-cita></app-cita>
      </div>
      <div class="col-md-5 text-center">
        <app-listar-citas></app-listar-citas>
      </div>
    </div>
  </div>
-->
