<div class="card mt-3" *ngIf="userLogged|async as user">
  <div class="card-body">
    <div class="card-header m-2 text-center">
      <b>Gestionar Cita</b>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="hidden"
        class="form-control"
        id="key"
      >

      <div class="form-floating form-group text-center col-11">
        <input
          type="date"
          class="form-control m-2"
          name="fecha"
          formControlName="fecha"
          [ngClass]="{ 'is-invalid': fechaField.errors && fechaField.touched }"
        >
        <label for="date">Fecha</label>

        <!-- div *ngIf="fechaField.errors && fechaField.touched">
          <div *ngIf="fechaField.hasError('required')" class="text-danger">Necesitas seleccionar una fecha</div>
        </div -->
      </div>

      <div class="form-floating form-group col-11">
        <select
          class="form-control m-2 form-select"
          name="hora"
          formControlName="hora"
          placeholder="escoge tu horario"
          [ngClass]="{ 'is-invalid': horaField.errors && horaField.touched }"
          >
          <option value="9:00">9:00 am</option>
          <option value="9:30">9:30 am</option>
          <option value="10:00">10:00 am</option>
          <option value="10:30">10:30 am</option>
          <option value="11:00">11:00 am</option>
          <option value="11:30">11:30 am</option>
          <option value="12:00">12:00 am</option>
          <option value="12:30">12:30 am</option>
          <option value="3:00">3:00 am</option>
          <option value="3:30">3:30 am</option>
          <option value="4:00">4:00 am</option>
          <option value="4:30">4:30 am</option>
          <option value="5:00">5:00 am</option>
          <option value="5:30">5:30 am</option>
          <option value="6:00">6:00 am</option>
          <option value="6:30">6:30 am</option>
          <option value="7:00">7:00 am</option>
          <option value="7:30">7:30 am</option>
        </select>
          <label for="hora">Hora</label>
      </div>

      <div class="form-floating form-group col-11">
        <select
          class="form-control m-2 form-select"
          name="typeservice"
          formControlName="typeservice"
          [ngClass]="{ 'is-invalid': typeserviceField.errors && typeserviceField.touched }"
          >
          <option *ngFor="let servicio of servicioList" value={{servicio.name}}>{{ servicio.name }}</option>
        </select>
        <label for="typeservice">Tipo de Servicio</label>
      </div>

      <div class="form-floating form-group col-11">
        <select
          class="form-control m-2 form-select"
          name="dnidoc"
          formControlName="dnidoc"
          [ngClass]="{ 'is-invalid': dnidocField.errors && dnidocField.touched }"
          >
          <option *ngFor="let medico of medicoList" value={{medico.dni}}>{{ medico.name + " " + medico.lastname }}</option>
        </select>
        <label for="dnidoc">Medico</label>
      </div>

      <div class="row" *ngFor="let users of userList">
        <div *ngIf="user.email==users.email && users.rank=='client'">
          <input
            type="text"
            name="dniuser"
            formControlName="dniuser"
            value="{{users.dni}}"
          >
          <input
            type="text"
            name="state"
            formControlName="dniuser"
            value="Pendiente"
          >
        </div>

        <div class="form-group col" *ngIf="user.email==users.email && users.rank=='admin'">
          <div class="form-floating form-group col-11">
            <input
            type="text"
            class="form-control m-2"
            name="dniuser"
            formControlName="dniuser"
            maxlength=25
            placeholder="cliente"
            [ngClass]="{ 'is-invalid': users.rank=='admin' && dniuserField.errors && dniuserField.touched }"
            >
            <label for="emailuser">Cliente</label>
          </div>
          <div class="form-floating form-group col-11">
            <select
              class="form-control m-2 form-select"
              name="state"
              formControlName="state"
              [ngClass]="{ 'is-invalid': users.rank=='admin' && stateFied.errors && stateFied.touched }"
              >
              <option value="Pendiente">Pendiente</option>
              <option value="Realizado">Realizado</option>
            </select>
            <label for="state">Estado</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary m-2" type="submit">
          <i class="fa fa-plus-circle"></i> Agregar Cita
        </button>
      </div>
    </form>
  </div>
</div>
