<div class="card mt-3" *ngIf="userLogged|async as user">
  <div class="card-body">
    <div class="card-header m-2 text-center">
      <b>Gestionar Cita</b>
    </div>
    <form #citaForm="ngForm" (ngSubmit)="onSubmit(citaForm)">
      <input
        type="hidden"
        name="key"
        #key="ngModel"
        [(ngModel)]="citaService.selectedCita.key"
      >

      <div class="form-floating form-group col-10">
        <input
          type="date"
          class="form-control m-2"
          id="date"
          name="fecha"
          formControlName="fecha"
          #fecha
          [(ngModel)]="citaService.selectedCita.fecha"
          maxlength=10
          required
          >
          <label for="date">Fecha</label>

          <div *ngIf="fechaField.errors && fechaField.touched">
            <p *ngIf="fechaField.hasError('required')" class="text-danger">Necesitas seleccionar una fecha</p>
          </div>
      </div>

      <div class="form-floating form-group col-10">
        <select
          class="form-control m-2 form-select"
          id="hora"
          name="hora"
          #hora="ngModel"
          [(ngModel)]="citaService.selectedCita.hora"
          placeholder="escoge tu horario"
          required
          >
          <option value="8:00">8:00</option>
          <option value="8:30">8:30</option>
          <option value="9:00">9:00</option>
          <option value="9:30">9:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="2:00">2:00</option>
          <option value="2:30">2:30</option>
          <option value="3:00">3:00</option>
          <option value="3:30">3:30</option>
          <option value="4:00">4:00</option>
          <option value="4:30">4:30</option>
          <option value="5:00">5:00</option>
          <option value="5:30">5:30</option>
          <option value="6:00">6:00</option>
          <option value="6:30">6:30</option>
        </select>
          <label for="hora">Hora</label>
      </div>

      <div class="form-floating form-group col-10">
        <select
          class="form-control m-2 form-select"
          id="typeservice"
          name="typeservice"
          #typeservice="ngModel"
          [(ngModel)]="citaService.selectedCita.typeservice"
          required
          >
          <option *ngFor="let servicio of servicioList" value={{servicio.name}}>{{ servicio.name }}</option>
        </select>
        <label for="typeesrvice">Tipo de Servicio</label>
      </div>

      <div class="form-floating form-group col-10">
        <select
          class="form-control m-2 form-select"
          id="dnidoc"
          name="dnidoc"
          #dnidoc="ngModel"
          [(ngModel)]="citaService.selectedCita.dnidoc"
          required
          >
          <option *ngFor="let medico of medicoList" value={{medico.dni}}>{{ medico.name + " " + medico.lastname }}</option>
        </select>
        <label for="dnidoc">Medico</label>
      </div>

      <div class="row" *ngFor="let users of userList">
        <div *ngIf="user.email==users.email && users.rank=='client'">
          <input
            type="hidden"
            name="dniuser"
            #dniuser="ngModel"
            [(ngModel)]="users.dni"
            value="{{users.dni}}"
          >
          <input
            type="hidden"
            name="state"
            #state="ngModel"
            [(ngModel)]="citaService.selectedCita.state"
            value="Pendiente"
          >
        </div>

        <div class="form-group col" *ngIf="user.email==users.email && users.rank=='admin'">
          <div class="form-floating form-group col-10">
            <input
            type="text"
            class="form-control m-2"
            id="dniuser"
            name="dniuser"
            #dniuser="ngModel"
            [(ngModel)]="citaService.selectedCita.dniuser"
            maxlength=25
            placeholder="cliente"
            required
            >
            <label for="emailuser">Cliente</label>
          </div>
          <div class="form-floating form-group col-10">
            <select
              class="form-control m-2 form-select"
              id="state"
              name="state"
              #state="ngModel"
              [(ngModel)]="citaService.selectedCita.state"
              required
              >
              <option value="Pendiente">Pendiente</option>
              <option value="Realizado">Realizado</option>
              <option value="Cancelado">Cancelado</option>
            </select>
            <label for="state">Estado</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary m-2" type="submit">
          <i class="fa fa-plus-circle"></i> Agregar Cita
        </button>
      </div>
    </form>
  </div>
</div>
